*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
  /* background-color: #fafafa; */
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  color: currentColor;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- */
/* ------- common styles ------- */

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 20px;
}

.section-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section-title {
    font-size: 24px;
  }

  .section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}

/* ---------------------- */
/* ------- header ------- */

.header {
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  z-index: 10;

  backdrop-filter: blur(35px);
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );

  padding: 14px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

.header-nav {
  display: none;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-open-icon {
  stroke-width: 2px;
  stroke: #fff;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }

  .header-nav {
    display: block;
    margin-left: auto;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav-link {
    font-weight: 400;
    font-size: 12px;
    color: #fff;

    display: block;
    padding: 24px 0;

    transition: color 250ms ease, background 250ms ease;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav-link {
    padding: 28px 0;
  }
}

/* -------------------- */
/* ------- hero ------- */

.hero {
  position: relative;
  background-color: #06071b;

  background-image: url(../images/hero/hero-bg-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/hero/hero-bg-mob@2x.jpg);
  }
}

.hero-container {
  padding-top: 182px;
  padding-bottom: 128px;
}

.hero-title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 12px;
}

.hero-subtitle {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 28px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin-bottom: 40px;
  padding: 0;
}

.hero-list-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero-icon {
  fill: #fff;
}

.hero-list-text {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  width: 228px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 12px 60px;

  font-weight: 700;
  font-size: 16px;
  color: #fff;

  border-radius: 5px;
  border: none;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%) padding-box,
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%) border-box;
  border: 1px solid transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  background: linear-gradient(#06071b 0 0) padding-box,
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%) border-box;
}

.hero-picture,
.hero-spray {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: none;
  }

  .hero-container {
    padding-top: 142px;
    padding-bottom: 142px;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-subtitle {
    font-size: 20px;
  }

  .hero-list {
    margin-bottom: 62px;
  }

  .hero-list-text {
    font-size: 14px;
    width: 100%;
  }

  .hero-btn {
    margin: 0;
  }

  .hero-picture {
    display: block;
    position: absolute;
    bottom: -60px;
    right: 32px;
  }

  .hero-img {
    width: 506px;
  }

  .hero-spray {
    display: block;
    position: absolute;
    left: -50px;
    top: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 244px;
    padding-bottom: 146px;
  }

  .hero-picture {
    bottom: -122px;
    right: 56px;
  }

  .hero-img {
    width: 896px;
  }

  .hero-spray {
    top: 200px;
  }
}

/* ------------------------ */
/* ------- features ------- */

.features {
}

.features-container {
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  align-items: center;
  justify-content: center;
}

.features-title {
}

.features-text {
  text-align: center;
}

.features-pictures {
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.features-list-item {
  display: flex;
  align-items: flex-start;

  gap: 4px;
}

.features-list-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.features-list-img {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}

.features-item-title {
  margin: 6px 0 0 0;
}

.features-item-text {
  margin: 0;
}

.features-img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* --------------------- */
/* ------- watch ------- */

.watch {
  background-color: #06071b;
  position: relative;
}

.watch-container {
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.watch-title {
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.watch-text {
  text-align: center;
  color: #fff;
  max-width: 280px;
  margin-bottom: 24px;
}

.watch-system-list {
  display: flex;
  justify-content: center;
  gap: 20px;

  padding: 0;
  margin: 0;
}

.watch-list-item {
  width: 60px;
  height: 60px;
}

.watch-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%) padding-box,
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%) border-box;
  border: 1px solid transparent;

  transition: all 0.4s ease;
}

.watch-list-link:hover,
.watch-list-link:focus {
  background: linear-gradient(#06071b 0 0) padding-box,
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%) border-box;
}

.watch-item-icon {
  fill: #fff;
}

.watch-picture {
}

.watch-img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.watch-spray {
  position: absolute;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .watch-container {
    padding-top: 80px;
    gap: 10px;
  }

  .watch-title {
    margin-bottom: 20px;
  }

  .watch-text {
    max-width: 704px;
    margin-bottom: 20px;
  }

  .watch-spray {
    position: absolute;
    left: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .watch-container {
    padding-top: 60px;
    padding-bottom: 60px;

    flex-direction: row;
    gap: 160px;
  }

  .watch-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    text-align: left;
  }

  .watch-title {
    margin-bottom: 8px;
  }

  .watch-text {
    text-align: left;
    margin-bottom: 40px;
  }

  .watch-spray {
    position: absolute;
    left: 40px;

    pointer-events: none;
    z-index: 0;
  }
}

/* -------------------- */
/* ------- team ------- */

.team {
}

.team-container {
  padding-top: 80px;
  padding-bottom: 32px;
}

.team-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 80px;
}

.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 886px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.team-list {
  display: flex;
  gap: 32px;
}

.team-list-item {
  border-radius: 15px;
  width: 288px;
  height: 364px;

  padding: 14px 12px 12px 12px;
}

.list-item-1 {
  backdrop-filter: blur(35px);
  background: linear-gradient(
      318deg,
      rgba(0, 197, 235, 0.5) 0%,
      rgba(181, 68, 254, 0.5) 100%
    ),
    #06071b;
}

.list-item-2 {
  backdrop-filter: blur(35px);
  background: linear-gradient(
      115deg,
      rgba(0, 197, 235, 0.5) 0%,
      rgba(181, 68, 254, 0.5) 100%
    ),
    #06071b;
}

.list-item-3 {
  backdrop-filter: blur(35px);
  background: linear-gradient(
      197deg,
      rgba(0, 197, 235, 0.5) 0%,
      rgba(181, 68, 254, 0.5) 100%
    ),
    #06071b;
}

.list-item-4 {
  backdrop-filter: blur(35px);
  background: linear-gradient(
      319deg,
      rgba(0, 197, 235, 0.5) 0%,
      rgba(181, 68, 254, 0.5) 100%
    ),
    #06071b;
}

.team-item-img {
  width: 264px;
  height: 260px;
  border-radius: 10px;
  object-fit: cover;
}

.team-item-title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 12px;
}

.team-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ------------------------- */
/* ------- custumers ------- */

.customer {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.customer-container {
  padding-top: 20px;
  padding-bottom: 40px;

  position: relative;
  z-index: 1;
}

.customer-title {
  text-align: center;
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.customer-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;
}

.customer-subtitle {
  font-weight: 700;
  font-size: 18px;

  text-align: center;
  margin-bottom: 12px;
}

.customer-subtitle-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  margin-bottom: 24px;
}

.customer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.customer-point {
  margin: 0 auto;
}

.customer-spray-2,
.customer-spray-3 {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.customer-spray-2 {
  bottom: 0px;
  left: 0px;
}

.customer-spray-3 {
  top: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .customer-container {
    padding-top: 32px;
    padding-bottom: 48px;
  }

  .customer-title {
    max-width: 100%;
  }

  .customer-subtitle-text {
    margin-bottom: 40px;
  }

  .customer-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    max-width: 704px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-container {
    padding-bottom: 100px;
  }

  .customer-img {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
  }

  .customer-text {
    max-width: 886px;
  }
}

/* ---------------------- */
/* ------- footer ------- */

.footer {
}

.footer-container {
}

.footer-title {
}

.footer-subtitle {
}

.footer-text {
}

.footer-soc-list {
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-soc-icon {
}

.footer-address {
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
}

.footer-copy {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ---------------------- */

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
